.carousel-container {
  background-color: gray;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 3.5rem;
}

.carousel {
  align-self: center;
  margin: 0;
  padding: 0;
}
.carousel__item {
  display: none;
}

.carousel__item--active {
  display: block;
}

.carousel-ctrls {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 50%;
  z-index: 99;
  justify-content: space-between;
}

.carousel-ctrls__item {
  font-size: 5rem;
  width: 20%;
  align-self: center;
  opacity: 0%;
}

.carousel-ctrls__item:hover {
  opacity: 100%;
}

.carousel-ctrls__item--left {
  text-align: left;
}

.carousel-ctrls__item--right {
  text-align: right;
}

.carousel-count {
  position: absolute;
  bottom: 0;
  transform: translateY(3.4rem);
  font-size: 3rem;
  height: 5%;
  width: 100%;
  opacity: 70%;
  z-index: 100;
  text-align: center;
}
