:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #edc;
  color: black;
  line-height: 1.2;
  height: 100vh;
}

.main-container {
  background-color: #edc;
}

.cbx {
  margin-right: 1%;
  margin-left: 5px;
}

.btn {
  width: 80px;
  margin-left: 1%;
}

a {
  display: block;
}

iframe {
  width: 64%;
  height: 300px;
  margin: 1%;
  border: 1px solid black;
  display: inline-block;
}

.bold-p {
  font-weight: bold;
}

.now-div {
  line-height: 1.8;
  text-align: center;
  background: #edc;
  width: 330px;
  border: 1px solid black;
  flex-shrink: 0;
  padding: 10px;
}

.txt-div {
  width: 70%;
  display: inline-block;
  text-align: right;
  vertical-align: text-top;
}

.inline-img {
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.flex-div {
  margin: 1%;
  width: auto;
  display: flex;
  overflow: auto;
  justify-content: space-between;
}

.search-div {
  padding-top: 1%;
  margin: 1%;
  text-align: right;
}

.hist-div {
  width: 31%;
  height: 300px;
  display: inline-block;
  border: 1px solid black;
  margin: 1%;
  text-align: center;
  vertical-align: top;
}

.big-border-div {
  border: 15px solid black;
  height: auto;
}

.small-border-div {
  border: 5px solid black;
  height: auto;
}

.forecast-el {
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  background: #edc;
}
